<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>
<body>
    <h1>Change password</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <h3>New password must have at least 8 characters, including one uppercase letter, one lowercase letter, one digit, and one special character</h3>
    <form id="password-form" method="post" action="{{ url_for('change_password') }}">
        <label for="password">Actual password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="password">New password:</label>
        <input type="password" id="new_password" name="new_password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()-_+=])[A-Za-z\d!@#$%^&*()-_+=]{8,}$" required>
        <br>
        <label for="password">Confirm new password:</label>
        <input type="password" id="confirm_password" name="confirm_password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()-_+=])[A-Za-z\d!@#$%^&*()-_+=]{8,}$" required>
        <br>
        <button type="button" onclick="disableButton()">Change Password</button>
        <button type="button" onclick="location.href='/my-account'">Back</button>
    </form>

 <script>
    function disableButton() {
      var button = document.getElementById("password-form").getElementsByTagName("button")[0];
      var button1 = document.getElementById("password-form").getElementsByTagName("button")[1];
      button.disabled = true;
      button1.disabled = true;
      document.getElementById("password-form").submit();  // Send form after click on button
      return True
    }


  </script>

</body>
</html>
