<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets Info</title>

    <script>
        // Po załadowaniu strony, opóźnij przekierowanie na '/my-account' po 5 sekundach
        window.onload = function() {
            setTimeout(function() {
                window.location.href = '/my-account';
            }, 5000);
        };
    </script>
</head>
<body>
    <h1>Secrets Info</h1>
    <h3>visibility 5s</h3>
    <p>Pesel:  <strong>{{ pesel }}</strong></p>
    <p>CCV:  <strong>{{ ccv }}</strong></p>
    <button onclick="location.href='/my-account'">Back</button>


</body>
</html>
